* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

:root {
  --orange: #ff5c00;
  --blue: #003b59;
  --white: #fff;
  --gray: #f6f7fb;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.btn_primary {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  box-shadow: 0 0 0 rgba(255, 165, 0, 0.7);
  animation: pulsate 1.5s infinite;
}


@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.7);
  }

  50% {
    box-shadow: 0 0 0 20px rgba(255, 165, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  }
}

.section_title {
  margin: 0 0 2rem 0;
  color: var(--blue);
  text-align: center;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.section_title-resalt {
  color: var(--orange);
}

.section_subtitle {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 800;
  text-align: center;
  color: var(--blue);
}

.text-left {
  text-align: left;
}

.text-dark{
  color: var(--white);
}

/* SUBHEADER */

.subheader {
  display: none;
  background-color: #ff5c00;
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  height: 2.25rem;
}

.subheader_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.subheader_container ul {
  list-style: none;
}

.subheader .contact_info {
  display: flex;
  gap: 1rem;
}

.subheader .contact_info li,
.subheader .social_media li {
  display: flex;
  gap: .5rem;
  color: var(--white);
  align-items: center;
}

.subheader .contact_info li a,
.subheader .social_media li a {
  color: var(--white);
}

.subheader_container li svg {
  color: var(--white);
}

.subheader .social_media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.subheader .social_media-icons {
  display: flex;
  align-items: center;
}

.subheader_container li hr {
  height: 1rem;
  border: none;
  width: 1px;
  background-color: var(--white);
}

@media screen and (min-width:992px) {
  .subheader {
    display: block;
    padding: 0;
  }
}

/* NAVBAR */
nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 2.1rem;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;
  transition: background-color 0.4s ease;
}

.navbar_scrolled {
  position: fixed;
  top: 0;
  background-color: var(--blue);
  transition: background-color 0.4s ease;
}


.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo {
  width: 8rem;
}

.px-2 {
  padding: 0 1rem;
}

@media screen and (min-width:768px) {
  nav {
    padding: 0;
  }

  .px-2 {
    padding: 0 2rem;
  }

}

@media screen and (min-width:992px) {
  nav {
    padding: 0;
  }

  .px-2 {
    padding: 0;
  }

}


/* HERO */
.hero {
  background-image: url('./assets/home.webp');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(800px - 1500px);
}

.hero_overlay {
  background: rgb(0, 59, 89);
  background: linear-gradient(90deg, rgba(0, 59, 89, 1) 0%, rgba(0, 59, 89, 0) 100%);
  width: 100%;
  height: 100vh;
}

@media screen and (min-width:768px) {
  .hero {
    background-position: calc(800px - 1300px);
  }
}

@media screen and (min-width:992px) {
  .hero {
    background-position: inherit;
  }
}

.hero_texts {
  position: relative;
  text-align: center;
  padding: 0 1rem;
  top: 17rem;
  height: 100%;
  color: var(--white);
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.hero_texts h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: .6rem 0;
  line-height: 1;
}

.hero_texts span {
  color: var(--orange);
}

.hero_subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero_paragraph {
  font-size: 1.25rem;
  line-height: 1.35;
}

.hero_btns {
  position: relative;
  top: 20rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.hero_btns svg {
  color: var(--orange);
}

.btn_video {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--white);
}

@media screen and (min-width:768px) {
  .hero_texts {
    text-align: left;
    padding: 0 2rem;
    top: 18rem;
  }

  .hero_btns {
    justify-content: left;
    padding: 0 2rem;
  }

  .hero_texts h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width:992px) {
  .hero_texts {
    padding: 0;
  }

  .hero_btns {
    padding: 0;
  }
}

/* CARROUSEL */
.section__carrousel {
  margin: 6rem 0 3rem;
  padding: 1rem 0;
  position: relative;
}

.globe_carrousel {
  position: absolute;
  height: 30rem;
  top: 2rem;
  z-index: -1;
  right: 0;
}

.carrousel_logo {
  width: 80px;
  margin: 0 50px;
  transition: .5s;
  cursor: pointer;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.scroll {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.scroll div {
  white-space: nowrap;
  animation: animate 30s linear infinite;
  display: flex;
  align-items: center;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll:hover div {
  animation-play-state: paused;
}

/* FAQS */
.faqs_container {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin: 10rem auto 6rem;
  flex-direction: column;
}

.container_faqs {
  width: 100%;
}

details {
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.1);
}

details div {
  background-color: var(--orange);
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  color: var(--white);
  margin-right: 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--blue);
  display: flex;
  align-items: center;
}

details>summary:first-of-type {
  list-style: none;
}

details p {
  margin-top: 1rem;
  margin-left: 4rem;
  padding-top: 0.5rem;
}

@media screen and (min-width:992px) {
  .faqs_container {
    flex-direction: row;
  }

  .container_faqs {
    width: 55%;
  }
}

/* Animación para la transición de apertura/cierre */
details[open] p {
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container_imgqr {
  background-color: var(--blue);
  height: 32rem;
  border-radius: 1.25rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.imgdoc {
  border-radius: 2rem;
  padding: 1.25rem;
  height: 100%;
}

.container_qr {
  position: absolute;
  height: 8rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 100%;
  bottom: -1rem;
  right: -1rem;
  border: 10px solid var(--orange);
  animation: pulsate 1.5s infinite;
  z-index: 1;
}

@media screen and (min-width:768px) {
  .container_qr {
    right: 9rem;
  }
}

@media screen and (min-width:992px) {
  .container_qr {
    right: -1rem;
  }
}

.imgqr {
  height: 100%;
  border-radius: 1rem;
  z-index: 1;
}

/* ABOUT */
.about-container {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom: 3rem;
}

.container-imgAbout {
  display: flex;
  justify-content: center;
}

.container-imgAbout img {
  height: 20rem;
}

@media screen and (min-width:768px) {
  .container-imgAbout img {
    height: 26rem;
  }

}

@media screen and (min-width:992px) {
  .about-container {
    flex-direction: row;
  }
}

.about-paragraph {
  color: var(--blue);
  font-weight: 500;
  font-size: 1.125rem;
  text-align: justify;
}

.cta-contact ul {
  margin: 2rem 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.cta-contact ul .border-icon {
  color: var(--orange);
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 100%;
  margin: 0 1rem 0 0;
}

.contact-number{
  display: flex;
  align-items: center;
}

.contact-phone{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: var(--blue);
}

.cta-contact ul li hr{
  height: 100%;
  border: none;
  width: 1px;
  background-color: var(--orange);
}

.container-btnCta{
  display: flex;
  align-items: center;
}

/* BANNER */
.section-banner{
  margin: 10rem auto 0;
  position: relative;
  max-width: 1200px;
  padding: 1rem;
}

.banner{
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--blue);
  height: 15rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

.banner-video{
  border-radius: .7rem;
  position: absolute;
  top: 13rem;
  z-index: -1;
  overflow: hidden;
  max-width:1200px;
  display: flex;
  left: 0;
}

.video-player{
  width: 100%;
}

@media screen and (min-width:768px) {
  .banner-video{
    top: 12rem;
  }
}
@media screen and (min-width:992px) {
  .banner-video{
    top: 9rem;
    border-radius: 1.25rem;
  }
}


/* ANIMISTA */

.tilt-in-left-1 {
  -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: tilt-in-left-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-31 0:2:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-left-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.tilt-in-bottom-1 {
  -webkit-animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-31 0:14:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-bottom-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}